.snowpile-footer-root {
  position: relative;
  width: 100%;
  pointer-events: none;
  z-index: 1;
  overflow: hidden;
}

.snowpile-footer-inner {
  width: 100%;
  overflow: hidden;
}

.snowpile-canvas {
  display: block;
  width: 100%;
  height: 100%;
}
